.footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #fafafa;
    .footer__main{
        display: flex;
        justify-content: center;
        width: 80%;
        .footer_child{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(2);
            gap: 20px;
            .footer__text{
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    margin-top: 10px;
                    text-align: left;
                    color: rgb(98, 14, 98);
                }
                p{
                    text-align: justify;
                    color: rgb(165, 161, 161);
                    font-size: 1.1rem;
                }
            }   
                .footer_list{
                    padding-bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                    font-size: 0.8rem;
                    color: rgb(101, 12, 101);
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        align-items: center;
                        font-size: 1.2rem;
                        color: black;
                    }
                }    
                .footer__copy{
                    display: flex;
                    grid-column: span 4;
                    font-size: 1.2rem;

                } 
                .footer__copy-2{
                    display: flex;
                    grid-column: span 2;
                    justify-content: right;
                    font-size: 1.2rem;

                }
        }

    }
}